#addplace .actions {
    width: 464px;
}

    #addplace .actions .button {
        width: 200px;
    }

#addplace .button.location {
    margin: 0 auto;
    width: 400px;
    float: none;
}

@media (min-width: 960px) {
    #addplace .actions {
        width: 232px;
    }

        #addplace .actions .button {
            width: 100px;
        }

    #addplace .button.location {
        width: 200px;
    }
    
}