.input input:-moz-placeholder {
    color: #777777;
    font-size: 28px;
    line-height: 28px;
    font-style: italic;
}

.input input::-moz-placeholder {
    color: #777777;
    font-size: 28px;
    line-height: 28px;
    font-style: italic;
}

.input input:-ms-input-placeholder {
    color: #777777;
    font-size: 28px;
    line-height: 28px;
    font-style: italic;
}

.input input::-webkit-input-placeholder {
    color: #777777;
    font-size: 28px;
    line-height: 28px;
    font-style: italic;
}

.input {
    overflow: hidden;
    position: relative;
    margin: 32px 0 10px 0;
    width: 100%;

    border: 2px solid #e1e1e1;
}

.input.text .clear {
    display: none;
    width: 56px;
    height: 56px;
    overflow: hidden;
    background: url('../images/form.input.text.clear.png') no-repeat 0 0 transparent;
}

    .input.text .clear span {
        display: none;
    }

.input.text.notempty.focused input {
    padding-right: 80px;
}

    .input.text.notempty.focused .clear {
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
    }

.input.text input {    
    display: block;
    padding: 29px 26px 23px 26px;
    width: 576px;
    border: 0 solid #ffffff;

    font-size: 28px;
    line-height: 28px;
    color: #777777;
}

.input .button {
    margin: 0 auto;
    width: 400px;
    float: none;
}

.input.rating {
    height: 90px;
    padding: 29px 26px 23px 26px;
}

    .input.rating label {
        margin-bottom: 0;
        display: block;
        float: left;

        color: #777777;
        font-size: 28px;
        line-height: 28px;
        font-style: italic;
        font-weight: normal;
    }

    .input.rating .rating {
        display: block;
        float: left;
        margin-left: 28px;
    }

@media (min-width: 960px) {
   .input input:-moz-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    .input input::-moz-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    .input input:-ms-input-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    .input input::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    .input {
        border: 1px solid #e1e1e1;
    }

    .input.text {
        margin: 14px 0 5px 0;
    }

        .input.text.notempty .clear,
        .input.text.notempty.focused .clear {
            display: none;
        }

        .input.text.notempty input {
            padding-right: 14px;
        }

    .input.text input {    
        padding: 14px 14px 14px 14px;
        width: 380px;

        font-size: 14px;
        line-height: 14px;
    }

    .input .button {
        width: 200px;
    }

    .input.rating {
        height: 45px;
        padding: 14px;
    }

        .input.rating label {
            font-size: 14px;
            line-height: 16px;
        }

        .input.rating .rating {
            margin-left: 14px;
        }
}