body,
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;    
}

body {
    min-width: 640px;
}

a,
a:hover,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

textarea:focus,
input:focus {
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 640px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.wrap {
    overflow: hidden;
}

@-ms-viewport {
    width: 640px;
}

@-o-viewport {
    width: 640px;
}

@viewport {
    width: 640px;
}

@media (min-width: 960px) {    
    .container {
        width: 960px;
    }

    @-ms-viewport {
        width: auto;
    }

    @-o-viewport {
        width: auto;
    }

    @viewport {
        width: auto;
    }
}