.contentparent.hideme {
    display: none;
}

.modalparent.hideme {
    display: none;
}

    .modalparent .background {
        display: none;
    }

.modalwrap {
    background: url('../images/modalwrap.background.png') repeat-x 0 0 transparent;
}

.modalview {
    padding: 10px 32px 10px 32px;
}

    .modalview .modalclose {
        display: none;
    }

    .modalview .title {
        padding: 44px 0 22px 0;

        color: #2e2e2e;
        font-size: 34px;
    }

        .modalview .title.add {
            padding-left: 60px;
            background: url('../images/button.notext.add.png') no-repeat 0 44px transparent;
        }

@media (min-width: 960px) {
    .contentparent.hideme {
        display: block;
    }

    .modalparent {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

        .modalparent .background {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;

            -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)';
            filter: alpha(opacity=90);
            -moz-opacity: 0.9;
            -khtml-opacity: 0.9;
            opacity: 0.9;
        }

    .modalwrap {
        background: none;
    }

    .modalview {
        width: 436px;
        padding: 16px 26px 16px 26px;

        border: 2px solid #e9e9e9;
        background: #ffffff; 
    }

        .modalview .modalclose {
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 24px;
            right: 22px;

            background: url('../images/xdpi.icon.close.png') no-repeat 0 0 transparent;
        }

            .modalview .modalclose span {
                display: none;
            }

        .modalview .title {
            padding: 7px 0 23px 0;
            margin-bottom: 26px;

            color: #777777;
            font-size: 16px;
            border-bottom: 1px solid #f0f0f0;
        }

            .modalview .title.add {
                padding-left: 37px;
                background: url('../images/xdpi.button.notext.add.png') no-repeat 7px 7px transparent;
            }
}