#places {
    background: url('../images/content.background.png') repeat-x 0 80px transparent;
}

#places .list {
    padding: 24px 24px 10px 32px;    
}

    #places .list .item img {
        display: block;
        float: left;
        margin-right: 28px;
        width: 154px;
        height: 154px;
    }

@media (min-width: 960px) {
    #places {
        background-position: 0 55px;
    }

    #places .list {
        padding: 18px 5px 10px 10px;
    }

        #places .list .item img {
            margin-right: 14px;
            width: 77px;
            height: 77px;
        }
}