<!DOCTYPE html>
<html lang="en">
    <head>
        <title>crosscut USA</title>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=1000" />
        
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        
        <!-- build:css styles/app.css -->
        <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="styles/layout.css" rel="stylesheet" />
        <link href="styles/header.css" rel="stylesheet" />
        <link href="styles/features.css" rel="stylesheet" />
        <link href="styles/mainmenu.css" rel="stylesheet" />
        <link href="styles/smallmenu.css" rel="stylesheet" />
        <link href="styles/footer.css" rel="stylesheet" />
        <link href="styles/components.css" rel="stylesheet" />
        <link href="styles/modal.css" rel="stylesheet" />
        <link href="styles/form.css" rel="stylesheet" />
        <link href="styles/lists.css" rel="stylesheet" />
        <link href="styles/places.css" rel="stylesheet" />
        <link href="styles/place.css" rel="stylesheet" />
        <link href="styles/jobs.css" rel="stylesheet" />
        <link href="styles/news.css" rel="stylesheet" />
        <link href="styles/addplace.css" rel="stylesheet" />
        <link href="styles/addreview.css" rel="stylesheet" />
        <!-- endbuild -->

        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
    </head>
    
    <body ng-app="Crosscut" ng-controller="MainCtrl">
        <header id="header">
            <div class="container clearfix">
                <a ui-sref="home" class="logo">
                    <h1>crosscut USA</h1>
                </a>
                
                <div class="main menu" ng-class="{'closed': mainMenuIsClosed}">
                    <a href="" class="handle" ng-click="toggleMainMenu()">&nbsp;</a>
                    
                    <ul class="content">
                        <li>
                            <a href="">Location</a>
                        </li>
                        
                        <li>
                            <a href="">Contact</a>
                        </li>
                    </ul>    
                </div>
                
                <div class="account menu" ng-class="{'closed': accountMenuIsClosed}">
                    <a href="" class="handle" ng-click="toggleAccountMenu()"><span>Hi, <strong>Adam Smith</strong></span></a>
                
                    <ul class="content">
                        <li>
                            <a href="">Account settings</a>
                        </li>
                        
                        <li>
                            <a href="">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        
        <div ui-view="content" class="contentparent" ng-class="{'hideme': modalIsVisible}"></div>

        <div  class="modalparent" ng-class="{'hideme': !modalIsVisible}">
            <div class="background">&nbsp;</div>
            <div ui-view="addPlace"></div>
            <div ui-view="addReview"></div>
        </div>
        
        <footer id="footer">
            <div class="container">
                <strong class="copy">Copyright © 2013 CrosscutUSA. All rights reserved.</strong>
                
                <ul class="social">
                    <li class="facebook">
                        <a href=""><span>Facebook</span></a>
                    </li>
                    
                    <li class="twitter">
                        <a href=""><span>Twitter</span></a>
                    </li>
                    
                    <li class="googleplus">
                        <a href=""><span>Google+</span></a>
                    </li>
                </ul>
            </div>
        </footer>

        <!-- build:js scripts/lib.js -->
        <script src="components/lodash/dist/lodash.js"></script>
        <script src="components/jquery/jquery.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.js"></script>
        <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
        <!-- endbuild -->
        
        <!-- build:js scripts/app.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>

        <script src="scripts/modules/main.js"></script>

        <script src="scripts/filters.js"></script>

        <script src="scripts/directives/rating.js"></script>
        <script src="scripts/directives/map.js"></script>
        <script src="scripts/directives/isfocused.js"></script>

        <script src="scripts/models/place.js"></script>
        <script src="scripts/models/job.js"></script>
        <script src="scripts/models/newsarticle.js"></script>
        <script src="scripts/models/review.js"></script>
        <script src="scripts/models/user.js"></script>

        <script src="scripts/services/location.js"></script>
        <script src="scripts/services/responsive.js"></script>
        <script src="scripts/services/places.js"></script>
        <script src="scripts/services/reviews.js"></script>
        <script src="scripts/services/user.js"></script>

        <script src="scripts/services/mappers/places.js"></script>
        <script src="scripts/services/mappers/reviews.js"></script>

        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/places.js"></script>
        <script src="scripts/controllers/place.js"></script>
        <script src="scripts/controllers/addplace.js"></script>
        <script src="scripts/controllers/addreview.js"></script>
        <script src="scripts/controllers/jobs.js"></script>
        <script src="scripts/controllers/news.js"></script>
        <!-- endbuild -->
    </body>
</html>
