<div class="modalwrap" ng-show="visible" ng-style="{'marginTop': getMarginTop() + 'px'}">
    <div class="modalview container" id="addjob">

        <h1 class="title add">
            <strong>Add new job</strong>
        </h1>

        <a href="" class="modalclose" ng-click="cancel()"><span>Close</span></a>
        
        <form name="addjob">

            <p class="spaced radiogroup">
                <a href="" class="option" ng-class="{'active': currentType('PAID')}" ng-click="selectType('PAID')">Paid job</a>
                <a href="" class="option" ng-class="{'active': currentType('VOLUNTEERING')}" ng-click="selectType('VOLUNTEERING')">Volunteering</a>
            </p>

            <p class="input text" ng-class="{'notempty': job.title != ''}">
                <input type="text" ng-model="job.title" placeholder="Title" is-focused required />
                <a href="" class="clear" ng-click="clear('title')"><span>Clear</span></a>
            </p>

            <p class="input textarea" ng-class="{'notempty': job.description != ''}">
                <textarea placeholder="Description" ng-model="job.description" is-focused></textarea>
                <a href="" class="clear" ng-click="clear('description')"><span>Clear</span></a>
            </p>

            <p class="input text" ng-class="{'notempty': job.address != ''}">
                <input type="text" ng-model="job.address" placeholder="Address" is-focused />
                <a href="" class="clear" ng-click="clear('address')"><span>Clear</span></a>
            </p>

            <p class="spaced">
                <a class="button location" ng-click="setLocation()"><span>Current location</span></a>
            </p>
        </form>

        <div class="actions">
            <a href="" class="button save" ng-click="save()" ng-class="{'disabled': addjob.$invalid}"><span>Save</span></a>
            <a href="" class="button cancel" ng-click="cancel()"><span>Cancel</span></a>
        </div>
    </div>
</div>