<div id="mainfeature">
    <div class="container feature">
        <div class="detail">
            <p>Crosscut empowers homeless people to forge their way up and out of homelessness by connecting them with resources and opportunities.</p>
        </div>
    </div>
</div>

<div id="mainmenu">
   <ng-include src="'views/mainmenu.html'"></ng-include>
</div>

<div id="secondaryfeatures">
    <div class="container">
        <div class="feature willrose">
            <div class="detail">
                <p>“Success is not counted by how high you have climbed but by how many people you brought with you.”</p>
                <strong>Dr. Will Rose</strong>
            </div>
        </div>
        
        <div class="feature roosevelt">
            <div class="detail">
                <p>“Nobody cares how much you know, until they know how much you care.”</p>
                <strong>Theodore Roosevelt</strong>
            </div>
        </div>
    </div>
</div>