<div id="smallmenu" class="container">
    <ul class="container">
        <li class="places">
            <a ui-sref="places"><span>Places</span></a>
        </li>
        
        <li class="jobs">
            <a ui-sref="jobs"><span>Jobs</span></a>
        </li>
        
        <li class="news">
            <a ui-sref="news"><span>News</span></a>
        </li>
        
        <li class="about">
            <a href=""><span>About Crosscut</span></a>
        </li>
    </ul>
    
    <div class="active jobs">&nbsp;</div>
</div>