<div id="smallmenu">
    <ul class="container">
        <li class="places">
            <a ui-sref="places({type: 'SHELTER'})"><span>Places</span></a>
        </li>
        
        <li class="jobs">
            <a ui-sref="jobs"><span>Jobs</span></a>
        </li>
        
        <li class="news">
            <a ui-sref="news"><span>News</span></a>
        </li>
        
        <li class="about">
            <a href=""><span>About Crosscut</span></a>
        </li>
    </ul>
    
    <div class="container active jobs">&nbsp;</div>
</div>

<div id="jobs">
    <div class="container">
        <ul class="tabs">
            <li class="active">
                <a href="">All jobs</a>
            </li>

            <li>
                <a href="">Announcements</a>
            </li>
        </ul>

        <div class="list">
            <div class="header">
                <h2 class="title"><strong>Paid jobs</strong> ({{jobs.length}})</h2>
                <a href="" class="button add" ng-click="addJob('PAID')">Add job</a>
            </div>

            <div class="container">
                <a href="" class="item" ng-repeat="job in pagedJobs()" ng-class="job.icon">
                    <span class="date">{{job.date | date:'dd MMM yyyy'}}</span>

                    <h3 class="title">{{job.title}}</h3>
                    <span class="address">{{job.address}}</span>
                </a>
            </div>

            <a class="button more" ng-click="loadMoreJobs()" ng-show="haveMore">Load more</a>
        </div>

        <div class="list">
            <div class="header">
                <h2 class="title"><strong>Volunteering</strong> ({{volunteeringJobs.length}})</h2>
                <a href="" class="button add" ng-click="addJob('VOLUNTEERING')">Add job</a>
            </div>

            <div class="container">
                <a href="" class="item" ng-repeat="job in pagedVolunteeringJobs()" ng-class="job.icon">
                    <span class="date">{{job.date | date:'dd MMM yyyy'}}</span>

                    <h3 class="title">{{job.title}}</h3>
                    <span class="address">{{job.address}}</span>
                </a>
            </div>

            <a class="button more hidden" ng-click="loadMoreVolunteeringJobs()" ng-show="haveMoreVolunteeringJobs">Load more</a>
        </div>
    </div>
</div>