<div id="smallmenu">
    <ul class="container">
        <li class="places">
            <a ui-sref="places({type: 'SHELTER'})"><span>Places</span></a>
        </li>

        <li class="jobs">
            <a ui-sref="jobs"><span>Jobs</span></a>
        </li>

        <li class="news">
            <a ui-sref="news"><span>News</span></a>
        </li>

        <li class="about">
            <a href=""><span>About Crosscut</span></a>
        </li>
    </ul>

    <div class="container active news">&nbsp;</div>
</div>

<div id="news">
    <div class="container">
        <div class="list">
            <div class="header">
                <h2 class="title"><strong>News</strong> (26)</h2>
            </div>

            <div class="container">
                <a href="" class="item" ng-repeat="newsArticle in news">
                    <img ng-src="{{getNewsArticleImage(newsArticle.image)}}" alt="" />
                    <span class="date">{{newsArticle.date}}</span>
                    <h3 class="title">{{newsArticle.title}}</h3>
                    <span class="description">{{newsArticle.description}}</span>
                </a>
            </div>

            <a class="button more">Load more</a>
        </div>
    </div>
</div>