<div id="smallmenu">
    <ng-include src="'views/mainmenu.html'"></ng-include>

    <div class="container active news">&nbsp;</div>
</div>

<div id="news">
    <div class="container">
        <div class="list">
            <div class="header">
                <h2 class="title"><strong>News</strong> ({{news.length}})</h2>
            </div>

            <div class="wrap">
                <a class="item" ng-repeat="newsArticle in pagedNews()" ng-href="{{newsArticle.url}}" target="_blank">
                    <img ng-src="{{getNewsArticleImage(newsArticle.image)}}" alt="" />
                    <span class="date">{{newsArticle.date}}</span>
                    <h3 class="title">{{newsArticle.title | limit:35:17:'...'}}</h3>
                    <span class="description">{{newsArticle.description | limit:73:42:'...'}}</span>
                </a>
            </div>

            <a class="button more" ng-click="loadMore()" ng-show="haveMore">Load more</a>
        </div>
    </div>
</div>