<div id="smallmenu">
    <ul class="container">
        <li class="places">
            <a ui-sref="places"><span>Places</span></a>
        </li>
        
        <li class="jobs">
            <a ui-sref="jobs"><span>Jobs</span></a>
        </li>
        
        <li class="news">
            <a ui-sref="news"><span>News</span></a>
        </li>
        
        <li class="about">
            <a href=""><span>About Crosscut</span></a>
        </li>
    </ul>
    
    <div class="container active places">&nbsp;</div>
</div>

<div id="places">
    <div class="container">
        <ul class="tabs">
            <li class="active">
                <a href="">Shelters</a>
            </li>
        
            <li>
                <a href="">Food Pantries</a>
            </li>
        
            <li>
                <a href="">Food Banks</a>
            </li>
        </ul>
    
        <div class="list">
            <div class="header">
                <h2 class="title"><strong>Shelters</strong> (87)</h2>
                <a href="" class="button add" ng-click="addPlace()">Add shelter</a>
            </div>
        
            <div class="container">
                <a class="item" ng-repeat="place in places" ui-sref="place({id: place.id})">
                    <img ng-src="{{getPlaceImage(place.image)}}" alt="" />
                    <h3 class="title">{{place.title}}</h3>
                    <span class="address">{{place.address}}</span>

                    <rating data-value="place.rating"></rating>
                </a>
            </div>

            <a class="button more">Load more</a>
        </div>
    </div>
</div>